@model QLSV.Model.Models.PrimaryClass

@{
    ViewData["Title"] = "Sửa thông tin lớp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewBag.Title</h3>
<hr />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="PrimaryClassId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên lớp</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorId" class="control-label">Chuyên ngành</label>
                <select asp-for="MajorId" class="form-control" asp-items="ViewBag.MajorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

