
@{
    ViewData["Title"] = "Training model";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

<button id="trainingBtn" class="btn btn-primary">Train face image</button>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#trainingBtn').on('click', function () {
                $.ajax({
                    type: 'POST',
                    async: false,
                    url: '@Url.Action("TrainingFace","Attendances")',
                    success: function (response) {
                        if (response.result == true)
                            alert("training data successfully");
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error)
                        alert("training data don't successfully");
                    }
                })
            })
        });

    </script>
}