@{
    ViewData["Title"] = "Điểm danh sinh viên";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2 style="margin: 10px;">@ViewBag.Title</h2>
<div class="d-flex pb-4">
    <label for="classroomid" class="mr-4">Lớp học: </label>
    <select id="classroomid" name="classroomid" asp-items="@ViewBag.ClassroomList" style="cursor: pointer"></select>
</div>
<div class="row">
    <div class="col-md-4">
        <video id="video" style="width: 100%; height: auto; margin-bottom: 15px"></video>
        <canvas id="canvas" style="width: 100%; margin-bottom: 15px"></canvas>
        <button id="start" class="btn btn-primary">Điểm danh</button>
        <button id="stop" class="btn btn-danger">Dừng</button>
    </div>
    
    <div class="col-md ml-3">
        <h3>Kết quả điểm danh</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Số thứ tự</th>
                    <th>Mã sinh viên</th>
                    <th>Tên sinh viên</th>
                    <th>Trạng thái</th>
                    <th>Thời gian</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var video = document.getElementById('video');
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');

        var startButton = document.getElementById("start");
        var stopButton = document.getElementById("stop");
        
        var detectFaceInterval;
        
        canvas.style.display = 'none';
        // Initialize the webcam
        navigator.mediaDevices.getUserMedia({ video: true, audio: false })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err) {
                console.log("An error occurred: " + err);
            });

        startButton.onclick = function () {
            if (video.paused) {
                video.play();
            }
            
            video.style.display = 'none';
            canvas.style.display = 'block';
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            var classroomid = $("#classroomid").find(":selected").val();
            
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            var image = canvas.toDataURL();
            var index = 1;
            detectFaceInterval = setInterval(function () {
                
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                var image = canvas.toDataURL();
                
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Recognize", "Attendances")",
                    async: false,
                    data: { imageString: image, classroomId: classroomid },
                    success: function (respone) {
                        console.log(respone);
                        if (respone.result == true) {
                            //Draw rectangle face
                            context.beginPath();
                            context.lineWidth = "2";
                            context.strokeStyle = "red";
                            context.rect(respone.faceX, respone.faceY, respone.faceW, respone.faceH);
                            context.stroke();
                            context.closePath();

                            if (respone.check == 1) {
                                if (confirm(`${respone.name} - ${respone.studentCode} - điểm danh thành công`)) {
                                    $('tbody').append(
                                        `<tr>
                                            <th>${index}</th>
                                            <th>${respone.studentCode}</th>
                                            <th>${respone.name}</th>
                                            <th>Điểm danh thành công</th>
                                            <th>${respone.time}</th>
                                        </tr>`
                                    );
                                    index++;
                                    clearInterval(detectFaceInterval);
                                    video.pause();
                                }
                                
                            }
                            else if(respone.check == 0)
                                alert("Bạn không thuộc lớp này!");
                            

                        }
                    },
                    error: function (eror) {
                        console.log(error)
                        //alert('error');
                        clearInterval(detectFaceInterval);
                        video.pause();
                    }
                });
            }, 20);
        };


        stopButton.onclick = function () {
            clearInterval(detectFaceInterval);
            video.pause();
        };
    </script>
}
