<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang sinh viên</title>
    <link href="~/custom/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/custom/admin/css/customer.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider" />
            <li class="nav-item">
                <a class="nav-link" asp-action="Details" asp-controller="Students" asp-area="Student">
                    <i class="fa-solid fa-book"></i>
                    <span>Thông tin sinh viên</span>
                </a>
            </li>
            <!-- Nav Item - Teacher -->
            <li class="nav-item">
                <a class="nav-link" href="/Student/RegisterClassroom/Index">
                    <i class="fa-solid fa-book"></i>
                    <span>Đăng ký học phần</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Student/RegisterClassroom/InforRegisteredClass">
                    <i class="fa-solid fa-book"></i>
                    <span>Thông tin đăng ký học phần</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Student/Results/Index">
                    <i class="fa-solid fa-book"></i>
                    <span>Kết quả học tập</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Student" asp-controller="FaceDetection" asp-action="Index">
                    <i class="fa-solid fa-book"></i>
                    <span>Lấy hình ảnh khuôn mặt</span>
                </a>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!--Page content-->
        <div id="content-wapper" class="container-fluid d-flex flex-column">
            <!--Main content-->
            <div id="content">
                <!--Topbar-->
                <partial name="~/Views/Shared/_NavbarPartial.cshtml" />

                <!--End of Topbar-->
                <div class="container-fluid">
                    <main role="main" class="pb-3" style="overflow-x: hidden">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <!--End of Main content-->

        </div>
    </div>

    <!--Script file-->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
