@model QLSV.Model.Models.Course

@{
    ViewData["Title"] = "Thêm môn học";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên môn học</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheoryCreditsNumber" class="control-label">Số tín chỉ lý thuyết</label>
                <input asp-for="TheoryCreditsNumber" class="form-control" />
                <span asp-validation-for="TheoryCreditsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticeCreditsNumber" class="control-label">Số tín chỉ thực hành</label>
                <input asp-for="PracticeCreditsNumber" class="form-control" />
                <span asp-validation-for="PracticeCreditsNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ExamForm" class="control-label">Hình thức kiểm tra</label>
                <textarea asp-for="ExamForm" class="form-control"></textarea>
                <span asp-validation-for="ExamForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            
            <div class="form-group">
                <label asp-for="Content" class="control-label">Nội dung</label>
                <textarea asp-for="Content" class="form-control" ></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label">Ghi chú</label>
                <textarea asp-for="Note" class="form-control" ></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialRequirements" class="control-label">Yêu cầu</label>
                <textarea asp-for="SpecialRequirements" class="form-control" ></textarea>
                <span asp-validation-for="SpecialRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documentation" class="control-label">Tài liệu tham khảo</label>
                <textarea asp-for="Documentation" class="form-control" ></textarea>
                <span asp-validation-for="Documentation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
